@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
    --color-primary: #b30707;
    --color-secondary: #cc3535;
    --color-third: #fa4b4b;
}

* {
    font-family: 'Outfit';
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff7f7;
}

/* #hero::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url("./assets/main_bg6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}
#hero::after{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.3;
    pointer-events: none;
} */

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply w-2 h-0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

@media (max-width:740px) {
    .active p {
        @apply text-gray-200 bg-primary;
    }
}